<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="font-family:'Roboto',sans-serif;">Consumer Dashboard</title>
</head>
<body style="background-image:url("A.jpg");
background-size:100% ;
background-attachment-fixed;
background-repeat: no-repeat;">
   
    <h1 style="font-family:'Roboto',sans-serif;">Welcome, {{ username }}!</h1>
    <h2>Consumer Dashboard</h2>
    <p style="font-family:'Roboto',sans-serif;">This is your dashboard. You can search for produce and make purchases here.</p>
    <br>
    
    <p align="center"><a href="/logout">Logout</a></p>
</body>
</html>
